@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Tilt+Prism&family=Varela+Round&display=swap');
 
*{ margin: 0;
   box-sizing: border-box; }

#img_logo{
    left: 100px;
    position: absolute;
    top:25px;
    width: 200px;
}

#texto {
    left:300px;
    position: absolute;
    top:30px
}

h1 {
font-size: 70px;
font-family:'Comforter', cursive;
color: #b287e7;
}

h2{
    font-family: 'Varela Round', sans-serif;
    color: rgb(32, 31, 31);
}

/*h1{

    font-size: 50px;
    color: #b287e7;
    left: 300px;
    text-align: center;
    padding: 20px;
 
}*/

body>header {
    background-color: rgb(255, 250, 176);
    height: 200px;
}

body>header>div {
    display:inline-block;
}

body {
    background-color:rgb(234, 201, 249); ;
}
aside {
    border: 1px solid white;
    position: absolute;
    top: 250px;
    width: 270px;
    right:10px;
    z-index: 2;
    padding: 2em;
    border-radius: 15px;
    border-color: black;
    height: 200px;
    color: white;
    background-color: #5e72d2;
    background-image: linear-gradient(43deg, #a965b8 0%, #626eba 46%, #a06696 100%);
}

aside > img {
    width:150px;
    height: 100px;
    padding-left:50px;

}
a {
  text-decoration:none;
  color: rgb(190, 28, 219);
}

ul {
    list-style-type:circle;
}

nav>ul>li>a {
    text-decoration: none;
    color:#272727;   
}

a:hover{text-decoration: underline;}
 
nav {
    background-color:rgb(235, 182, 249);
    color: #272727;
    padding-top:10px ;
    padding-right:10px;
    height: 80px;
    position: absolute;
    top: 20px;
    right:10px;
    border-radius: 1em;
    font-size:1em;
    width:15%;
 }
h3{
    padding-bottom: 15px;
    font-size: 30px;
}




#noticia_1 {
    font-family: 'Varela Round', sans-serif;
    height: 200px;
    text-align: left;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 50px;
    width: 800px;
   

}

#noticia_2 {
    font-family: 'Varela Round', sans-serif;
    height: 200px;
    text-align: left;
    font-size: 20px; 
    padding-top: 50px;
    padding-left: 50px;
    width: 800px;
}

#noticia_3 {
    font-family: 'Varela Round', sans-serif;
    height: 200px;
    text-align: left;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 50px;
    width: 800px;
}
#comentario_1 {
    display: flex;
    padding-top: 30px;
    padding-left: 100px;
    background-color: #f4f9ba;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
}

#comentario_2 {
    display: flex;
    padding-left: 200px;
    padding-top: 20px;
    background-color: #f4f9ba;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
}

#comentario_3 {
    display: flex;
    padding-left: 100px;
    padding-top: 30px;
    background-color: #f4f9ba;
    padding-bottom: 20px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
}
#usuario_1 {
    width: 70px;
}

#usuario_2 {
    width: 70px;
}
#usuario_3 {

    width: 70px;
}

#deja_tu_comentario {
    height: 350px;
    width: 300px;
    background-color: #ebb6f9;
    position: absolute;
    top: 850px;
    right: 50px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family:'Varela Round', sans-serif; 
    border-style: solid;
    border-color: #ebb6f9;
    border-radius: 1em;
    box-shadow: 25px 30px 30px 3px #5a5858;
    
    
}

h4 {
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
footer{
    height: 100px;
    padding-top: 40px;
    text-align: right;
    padding-right: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
}

.comentario{ 
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:15px ;
    width: 150px;
    background-color: rgb(222, 220, 217);
    margin-left: 10px;
    border-radius: 1em;
    box-shadow: 5px 15px 15px 3px #5a5858;
}

label{
     width:20px;
    }

input {
    width: 200px;
    height: auto;
}
button {
    
    background-color: rgb(241, 235, 132);
    padding: 15px;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    
}