@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Tilt+Prism&family=Varela+Round&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body>header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 220px;
    align-items: center;
    padding-top: 25px;

}

#logo {
    padding-bottom: 10px;
    padding-right: 30px;

}

#titulos {
    text-align: left;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 30px;

}

h1 {
    font-size: 90px;
    font-family: 'Comforter', cursive;
    color: #b287e7;
}

h2 {
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    color: rgb(32, 31, 31);
}

strong {
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    color: rgb(32, 31, 31);
}

body>header {
    background-color: rgb(255, 250, 176);
}

body {
    /*background-image: url(/img/1366_2000.jpg);*/
    background-color: rgb(234, 201, 249);
}


form {
    display: flex;
    flex-direction: column; 
}

#formWrapper {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 250, 176);
    padding: 30px;
  
}   

#formWrapper>div {
    border: 1px solid grey;
    padding: 2em;
    margin-bottom: 2em;
    box-shadow: -21px 35px 35px -2px rgba(31, 30, 30, 0.75);
    border-radius: 33px 50px 40px 0px;
    width: 40%;
    background-color: #eaaef3
}

input {
    margin-bottom: 1.5em;
    font-size: 1.5em;
    border-radius: 4px;
    border-color:  rgb(207, 124, 223);
}

textarea{
    width: 100%;
}

button {
    margin-top: 20px;
    background-color: #8a42e3;
    padding: 1em;
    border-radius: 10px;
    border: 0px;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;

}

button:hover {
    background-color: #b287e7; 
    box-shadow:6px 13px 53px -15px rgba(84, 81, 81, 0, 85);
}
#formWrapper h4 {
    text-align: center;
    margin-bottom: 2em;
    font-size: 2em;
    text-transform: uppercase;
    background-color:  #8a42e3;
    border: solid 1px  #8a42e3 ;
    border-radius: 10px;
    padding: 20px;
}
label {
    font-size: 1.5em;
    font-weight:bold;
}

#noticias {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    background-color: rgb(234, 201, 249);

}

#noticia1 img{
    width: 400px;

    
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: #eaaef3;
    height: 80px;

}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* Centramos los elementos en el nav */
}

li {
    padding: 0;
    width: 150px;
   
}

.estiloLinkNav {
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: block;
    text-align: center;
    color: #e3e1e3;
    text-decoration: none;
    padding: 0px 0px;
    margin: 15px;
    background-color:#8a42e3;
    border-radius: 5px;
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;

}


a:hover {
    background-color: #b287e7;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.63);
    transform: scale(1.2);
    text-decoration: underline;


}

.noticia {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    columns: 3;
    width: 30%;
    align-items: center;
    border: solid #b287e7 3px;
    padding: 20px;
    text-align: center;
    margin: 50px;
}

.noticia img {
    width: 350px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;



}

.noticia a {
    text-decoration: none;
    color: #b287e7
}

.noticia a:hover {
    background-color: rgb(234, 201, 249);
    text-decoration: underline;
    box-shadow: 0px 0px 0px;
    transform: scale(1.2);

}

h3 {
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
}

.cabecera {
    padding: 30px;
    width: 80%;
}

aside {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border: 2px dotted rgb(228, 226, 226);
    position: absolute;
    top: 1000px;
    width: 400px;
    right:10px;
    z-index: 2;
    padding: 2em;
    border-radius: 15px;
    border-color: black;
    height: 300px;
    color: rgb(65, 63, 63) bold;
    background-color: #5e72d2;
    background-image: linear-gradient(43deg, #f7c5fa 0%, #97a1e1 46%, #f699e6 100%);
}

aside:hover{
    transform:scale(2,2);
    right: 200px;
}


aside > img {
    width:100px;
    height:100px;
    text-align: center;

}

#comentarios{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    align-items: center;
}

article{
    border: solid rgb(130, 56, 130) 1px;
    margin-bottom: 5px;
    justify-content: center;
    width: 50%;
}


#comentario_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
}

#comentario_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
}

#comentario_3 {
   display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
}
#usuario_1 {
    width: 80px;
    
}

#usuario_2 {
    width: 80px;
}
#usuario_3 {

    width: 80px;
}

.comentario{ 
    /*display: inline-block;
    justify-content: flex-start;*/
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:20px ;
    width: 500px;
    height: auto;
    background-color: rgb(222, 220, 217);
    margin-left: 40px;
    margin-bottom: 30px;
    border-radius: 1em;
    box-shadow: 5px 15px 15px 3px #5a5858;;
    border-radius: 0px 33px 40px 50px;
}


footer{
    width: 100%;
    height: auto;
    padding-top: 100px;
    text-align: right;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    background-color:gray ;
    color: #e3e1e3;
}


@media (max-width:768px) {

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        background-color: #eaaef3;
        height: 50px;
    
    }
    
    ul {
        list-style: none;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* Centramos los elementos en el nav */
    }
    
    li {
        padding: 0;
        width: 200px;
        margin: 120px;
    }
    
    .estiloLinkNav {
        font-family: 'Varela Round', sans-serif;
        font-weight: 600;
        font-size: 15px;
        display: block;
        text-align: center;
        color: #e3e1e3;
        text-decoration: none;
        padding: 0px 0px;
        margin: 15px;
        background-color: #b287e7;
        border-radius: 5px;
        flex: 1;
    
    }
    
    
    a:hover {
        background-color: #8a42e3;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.63);
        transform: scale(1.2);
        text-decoration: underline;
    
    
    }

    #logo {
        width: 30%;
        justify-content: right;
    }

    #logo img {
        width: 200px;
        padding-left: 20px;

    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 15px;
    }

    #titulos {
        text-align: left;
        align-items: center;
        padding-bottom: 10px;
    }


    li {
        margin: 30px;
    }

    #noticias {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
    }

    #noticia1 {
        display: block;
        text-align: center;
    
    }

    #noticia2 {
        display: block;
    }

    #noticia3 {
        display: block;
    }

    .cabecera {
        padding: 5px;
        width: 100%;
    }

    #noticia1 img {
        width: 100%;
        
    }
    #menu a{
        padding: 5px;
    }
}

@media (max-width:595px) {

    body>header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding-top: 25px;
        margin: 0;
    }

    body>header>img {
        width: 50px;
    }

    #logo {
        width: 50%;
        text-align: center;
    }

    #logo img {
        width: 150px;
        padding-left: 50px;

    }

    h1 {
        font-size: 30px;
        font-family: 'Comforter', cursive;
        color: #b287e7;
    }

    h2 {
        font-size: 10px;
        font-family: 'Varela Round', sans-serif;
        font-weight: 600;
        color: rgb(32, 31, 31);
    }

    #titulos {
        justify-content: flex-start;
        text-align: center;
        align-items: center;
        padding-bottom: 10px;
        padding-right: 30px;

    }

    #noticias {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        font-size: 15px;

    }

    h3 {
        font-size: 20px;
    }

    #noticia1 {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        border: solid #b287e7 1px;
    }

    #noticia2 {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        border: solid #b287e7 1px;
    }

    #noticia3 {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        border: solid #b287e7 1px;
    }

    .cabecera {
        padding: 0px;
        width: 100%;
    }

    #noticia1 img {
        width: 100%;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content:center;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        background-color: #eaaef3;
        height: 50px;
        
    
    }
    
    ul {
        list-style: none;
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
    li {
        padding: 0;
        width:100%
    }
    
    .estiloLinkNav {
        font-family: 'Varela Round', sans-serif;
        font-weight: 600;
        font-size: 10px;
        display: block;
        text-align:center;
        color: #e3e1e3;
        text-decoration: none;
        background-color: #b287e7;
      
        
    
    }
    
    
    a:hover {
        background-color: #8a42e3;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.63);
        transform: scale(1.2);
        text-decoration: underline;
    
    
    }
}